html, body {
  height: 100%;
  width: 100%;
  /* margin: 0px;
  padding: 0px; */
  background: linear-gradient(#e66465, #9198e5);
  overflow: hidden;
}


.my-row{
	padding: 1em;
	float: left;
	text-align: left;
 }

.my-col{
	/* border: 1px dashed blue; */
	text-align: left;
}

.logo{
	height: 75px;
	width: auto;
}

.background-logo{
	height: 40%;
	width: auto;
}

#company-text{
	font-size: 18px;
	font-family: sans;
	padding: 30px;
}

#icon{
	display: grid;
	grid-template-columns: 20% 80%;
	
}
.icon{
	margin-top: 10px;
	margin-left: -20%;
}

.sm-screen-compose{
	width: 50%;
	text-align: center;
	justify-content: center;

}
.upper-half{
	height: 20%;
}
.msg-title{
	justify-content: left;
	margin-top:0px;
}
.msg-synopsis{
	position: relative;
	bottom: 10%;
}

.area{
	/* background-color:  rgba(216, 212, 212, 0.3); */
	position:relative;
	top: 13%;
	left: -5px;
	right: -20px;
}

.small{
	font-size: 13px;
}
.large{
	font-family: 18px;
}
#email-face{
	/* position: absolute; */
	/* top: 500px; */
	margin: 1em 0 1em 0;
	background-color: rgba(216, 212, 212, 0.3);
}


.content{
	/* display: flex; */
	justify-content: left;
}

.background{
	/* display: flex; */
	align-items: center;
	/* justify-content: center; */
}

.my-container{
	float: center;
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
}

.center-container{
	/* border: 2px dashed red; */
}

.wrapper{
	display: grid;
	grid-template-columns:15% 35% 50%;
	min-height: 100%;
	text-align: center;

}
/* Different layout for small screens */
@media screen and (max-width: 765px){
	.wrapper{
		display: grid;
		grid-template-columns:20% 80% 0%;
		min-height: 100%;
		text-align: center;
	}
}
@media screen and (min-width: 765px) and (max-width: 992px){
	.wrapper{
		display: grid;
		grid-template-columns:20% 45% 35%;
		min-height: 100%;
		text-align: center;
	}
}

#wrap{
	display: inline-block;
	overflow-x: auto;
}
.child-container{
	background-color: rgba(62, 60, 60, 0.3);
	height: 100vh;
}

#left{
	justify-content: center;
	padding: 1em;
	background-color: rgba(62, 60, 60, 0.9);
}
#mid{
	justify-content: center;
	padding: 1em;
}
#right{
	background-color: antiquewhite;
	justify-content: center;
	padding: 1em;
	font-family: sans;
	font-size: 16px;
}

.nav-row{
	margin-top: 2rem;
}

.nav{
	justify-content: center;
	/* height: 200px; */
	width: auto;
}

.img{
	padding: 1em;
	height: 90px;
	width: auto;
}

.compose{
	background: linear-gradient(#e66465, #9198e5);
	/* margin-top: 1em; */
	font-family: Arial, Helvetica, sans-serif;
}

.nav-row{
	font-size: 24px;
	margin-top: 50px;
	justify-content: left;
}
.subjects{
	margin-top: 1em;
}

.search{
	justify-content: center;
	text-align: center;
	margin: 1em;
	height: 30px;
	width: 550px;
	background-color: rgba(138, 136, 136, 0.3);
	z-index: 1;
	position: relative;
}

.search-icon{
	position: absolute;
	left: 10px;
	top: 5px;
}

.child-search{
	z-index: inherit;
	height: 90%;
	left: 20px;
	width: 70%;
	position: absolute;
}

input[type=text]{
	background:  rgba(216, 212, 212, 0.3);
	border-radius:10px;
	position: absolute;
	left: 20%;
	right: 20%;
	height: 60%;
	bottom: -8px;
}

input {
	display:block;
	width:100%;
	/* margin:10px 0; */
	padding:10px;
}
* {
	box-sizing: border-box;
}
.type-2 {
	background-color: #fafafa;
	border:0;
	box-shadow:0 0 4px rgba(0,0,0,0.3);
	transition: .3s box-shadow;
}
.type-2:hover {
box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.address{
	padding: 1em;
	text-align: left;
}

.title{
	padding: 1em;
}

.title-p{
	float: left;
}

.time-p{
	float: right;
}

.message-p{
	padding: 2em;
	margin-top: 10px;
	text-align: left;
}

.message{
	padding-left: 30px;
	padding-right: 30px;
}
#smallImg{
	height: 70px;
	width: auto;
	/* position: absolute;
	left: 5%;
	top: 10%; */
}

.med-img{
	height: 80px;
	width: auto;
}
.reply{
	float: left;
	padding-left: 250px;
	/* padding-right: 60px; */
}
.forward{
	float: right;
	/* padding-left: 60px; */
	padding-right: 60px;
}

#small-screen-left{
	border: 1px dashed red;
	width: 100%;

}